// COLORS
$color-primary: #4086ba;
$color-primary-light: #7ed56f;
$color-primary-dark: #4186ba;
$color-primary-bg: #040b2e;

$color-secondary-light: #ffb900;
$color-secondary-dark: #141b40;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$fastEffect: all 0.5s ease-in-out;
$slowEffect: all 1s ease-in-out;
