.header {
  &.v25 {
    height: 25vh;
  }
  &.v50 {
    height: 50vh;
  }
  &.v75 {
    height: 75vh;
  }
  &.v100 {
    height: 100vh;
  }
  @include respond(tab-port) {
    height: 100vh !important;
  }
  // &__logo-box {
  //   position: absolute;
  //   top: 4rem;
  //   left: 4rem;
  // }

  // &__logo {
  //   height: 3.5rem;
  // }

  &__text-box {
    text-align: center;
  }
  &__quote-box {
    text-align: center;
  }
  .hero {
    height: 100%;
    position: relative;
    border-radius: 0.5rem 0.5rem 0 0;
    @include backgroundCover;
    background: rgb(4, 11, 46);
    background: linear-gradient(
      0deg,
      rgba(4, 11, 46, 1) 0%,
      rgba(4, 11, 46, 0) 40%
    );
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
  }
  video#bgvideo {
    position: absolute;
    border-radius: 0.5rem 0.5rem 0 0;
    top: 0;
    z-index: -1;
    background-size: cover;
    width: 100%;
    height: auto;
  }
}
.text-fade {
  position: relative;

  blockquote {
    margin: 0;
    font-size: 50px;
    position: absolute;
    right: 20px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    &:first-of-type {
      animation: quote-fade 3s 1;
      -webkit-animation: quote-fade 3s 1;
      animation-fill-mode: forwards;

      animation-delay: 4s;
      -webkit-animation-delay: 4s; /* Safari and Chrome */
      -webkit-animation-fill-mode: forwards;
    }
    &:nth-of-type(2) {
      opacity: 0;
      animation: quote-fade-in 3s 1;
      -webkit-animation: quote-fade-in 3s 1;
      animation-fill-mode: forwards;

      animation-delay: 6s;
      -webkit-animation-delay: 6s; /* Safari and Chrome */
      -webkit-animation-fill-mode: forwards;
    }
  }
}
@keyframes quote-fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes quote-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section-links {
  .feature-box {
    svg {
      #head,
      #body {
        fill: $color-primary;
      }
    }
  }
  a {
    color: $color-white;
    text-decoration: none;
    &.active {
      .feature-box {
        background: $color-primary;
        svg {
          #head,
          #body {
            fill: $color-white;
          }
        }
      }
    }
  }
}

.sidebar {
  height: 100%;
  width: 400px;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
  background-color: $color-primary;
}

.bar {
  display: block;
  height: 3px;
  width: 30px;
  background-color: $color-white;
  margin: 5px auto;
}

.navbutton {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.nav-right {
  position: fixed;
  right: 3rem;
  top: 2rem;
  display: none;
  @include respond(tab-port) {
    display: block;
  }
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none;
}

.middle {
  margin: 0 auto;
}

.bar {
  transition: all 0.7s ease;
}

.nav-right.visible-xs .active .bar {
  background-color: #fff;
  transition: all 0.7s ease;
}

.navbutton.active .top {
  transform: translateY(7px) rotateZ(45deg);
}

.navbutton.active .bottom {
  transform: translateY(-9px) rotateZ(-45deg);
}

.navbutton.active .middle {
  width: 0;
}

.move-to-left {
  transform: translateX(-400px);
}

nav {
  padding-top: 30px;
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 150px;
  text-align: center;
}

.sidebar-item {
  margin: 30px 0;
  opacity: 0;
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  transition: all 0.7s 0.2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  transition: all 0.7s 0.4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  transition: all 0.7s 0.6s ease-in-out;
}
.sidebar-item:nth-child(4) {
  transition: all 0.7s 0.8s ease-in-out;
}
.sidebar-item:nth-child(5) {
  transition: all 0.7s 1s ease-in-out;
}
.sidebar-item:nth-child(6) {
  transition: all 0.7s 1.2s ease-in-out;
}

.sidebar-item:last-child {
  transition: all 0.7s 1.4s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  transform: translateY(0px);
}

.sidebar-anchor {
  color: #fff;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
}

.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: all 0.7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

.ua {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.fa {
  font-size: 1.4em;
  color: #ef8354;
  transition: all 1s ease;
}

.ua:hover .fa {
  color: #fff;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 1s ease;
}

@media (min-width: 480px) {
  .nav-list {
    display: block;
  }
}

@media (min-width: 768px) {
  .nav-right {
    position: absolute;
  }
  // .hidden-xs {
  //   display: block;
  // }
  .visible-xs {
    display: none;
  }
}
.down_arrow {
  text-align: center;

  a {
    text-decoration: none;
    color: $color-white;
  }
  .arrow {
    text-align: center;
    margin: 8% 0;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
}
menu {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #040b2e;

  .header-menu {
    padding: 0;
    list-style: none;

    text-align: center;

    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 1rem;

      li {
        display: inline-block;
        &.menu-logo a {
          border: 1px solid $color-white;
          padding: 0rem 4rem;
          font-size: 2.5rem;
          letter-spacing: 0.3rem;
        }
        a {
          text-decoration: none;
          color: #fff;
          display: block;
          border-bottom: 3px solid rgba(255, 255, 255, 0);
          transition: ease-out 0.25s;
          text-transform: uppercase;
        }
        &:hover,
        &.current-menu-item {
          border-bottom: 3px solid $color-primary;
          &.menu-logo {
            border-bottom: 1px solid $color-white;
          }
        }
      }
    }
  }
  @include respond(tab-port) {
    display: none;
  }
}
.scrolled menu {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.4);
}
